In [5]:
import pandas as pd

In [6]:
# --- 1. Load and Inspect the Data ---
print("Step 1: Loading the raw data...")
# Load the CSV file into a DataFrame
df = pd.read_csv("data_analyst_jobs.csv")
len(df)
df.info()
df.head()

Step 1: Loading the raw data...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job Role          10500 non-null  object
 1   Company           10500 non-null  object
 2   Experience Level  10500 non-null  object
 3   Location          10022 non-null  object
 4   Skills            10500 non-null  object
 5   Job Type          10500 non-null  object
 6   Work Mode         10500 non-null  object
 7   Salary Range      9388 non-null   object
 8   Job Posting Date  10500 non-null  object
 9   Job Description   10500 non-null  object
dtypes: object(10)
memory usage: 820.4+ KB

,Job Role,Company,Experience Level,Location,Skills,Job Type,Work Mode,Salary Range,Job Posting Date,Job Description
0,Junior Data Analyst,Day and Sons,Mid Level,Remote,"SQL, power-bi, Google Cloud",Internship,Hybrid,11-32 LPA,2025-06-26,Without more yeah professor represent join alw...
1,Junior Data Analyst,"Hickman, Hester and Davis",Entry Level,Remote,"Machine Learning, Tableau, Python",Contract,On-site,8-29 LPA,not_a_date,Seem early describe if book produce statement ...
2,Junior Data Analyst,Thomas Inc,Internship,Bangalore,"Python, Machine Learning, PowerBI",Full-time,Remote,11-25 LPA,2024-11-29,Whose painting fact thus big story of others p...
3,Data Analytics Specialist,"Fuentes, Hicks and Martinez",Entry Level,Bangalore,"Machine Learning, R, Python, Excel, power-bi",Internship,On-site,11-34 LPA,32-13-2024,Court week final away throw Mrs put manage tog...
4,Senior Data Analyst,"Gibson, Davidson and Turner",Internship,Delhi,"Machine Learning, Python, Tableau, Google Cola...",Internship,On-site,12-31 LPA,2025-07-07,Figure matter about majority else across contr...

In [7]:
# We'll remove the 'Job Description' column right away to make things simpler.
del df['Job Description']
print("Removed 'Job Description' column.")

print("\nShowing the first 5 rows to check the data:")
#print(df.head())
df.head()

Removed 'Job Description' column.

Showing the first 5 rows to check the data:

,Job Role,Company,Experience Level,Location,Skills,Job Type,Work Mode,Salary Range,Job Posting Date
0,Junior Data Analyst,Day and Sons,Mid Level,Remote,"SQL, power-bi, Google Cloud",Internship,Hybrid,11-32 LPA,2025-06-26
1,Junior Data Analyst,"Hickman, Hester and Davis",Entry Level,Remote,"Machine Learning, Tableau, Python",Contract,On-site,8-29 LPA,not_a_date
2,Junior Data Analyst,Thomas Inc,Internship,Bangalore,"Python, Machine Learning, PowerBI",Full-time,Remote,11-25 LPA,2024-11-29
3,Data Analytics Specialist,"Fuentes, Hicks and Martinez",Entry Level,Bangalore,"Machine Learning, R, Python, Excel, power-bi",Internship,On-site,11-34 LPA,32-13-2024
4,Senior Data Analyst,"Gibson, Davidson and Turner",Internship,Delhi,"Machine Learning, Python, Tableau, Google Cola...",Internship,On-site,12-31 LPA,2025-07-07

In [8]:
# --- 2. Handle Duplicates ---
print("\nStep 2: Looking for and removing duplicate rows...")
original_row_count = len(df)

# Remove any rows that are exactly the same
df.drop_duplicates(inplace=True)
duplicates_removed = original_row_count - len(df)
print(f"Removed {duplicates_removed} duplicate rows.")

Step 2: Looking for and removing duplicate rows...
Removed 500 duplicate rows.

In [9]:
# --- 3. Trim Whitespaces & Standardize Case ---
print("\nStep 3: Cleaning up text and making it consistent...")
# Go through each text column and remove extra spaces
for column in ['Job Role', 'Company', 'Experience Level', 'Location', 'Skills', 'Job Type', 'Work Mode', 'Salary Range']:
    # Check if the column exists and is a string type before trying to use .str
    if column in df.columns and pd.api.types.is_object_dtype(df[column]):
        df[column] = df[column].str.strip()

# Make key columns have a consistent format
df['Company'] = df['Company'].str.title()
df['Job Role'] = df['Job Role'].str.title()
df['Skills'] = df['Skills'].str.lower()
df['Location'] = df['Location'].str.title()
df['Job Type'] = df['Job Type'].str.title()
df['Work Mode'] = df['Work Mode'].str.title()

Step 3: Cleaning up text and making it consistent...

In [10]:
# --- 4. Fix Inconsistent Values ---
print("\nStep 4: Fixing skills and location names...")

# Fix common ways people write PowerBI
df['Skills'] = df['Skills'].str.replace('power-bi', 'powerbi', regex=False)
df['Skills'] = df['Skills'].str.replace('power bi', 'powerbi', regex=False)

# Fix common city name inconsistencies
df['Location'] = df['Location'].str.replace('Bengaluru', 'Bangalore', regex=False)
df['Location'] = df['Location'].str.replace('Delhi', 'New Delhi', regex=False)

Step 4: Fixing skills and location names...

In [11]:
# --- 5. Handle Missing Values ---
print("\nStep 5: Dealing with empty spots in the data...")

# Remove rows that have missing values in important columns
df.dropna(subset=['Job Role', 'Company', 'Location'], inplace=True)

# For 'Salary Range', fill in any empty spots with 'Not Disclosed'
df['Salary Range'].fillna('Not Disclosed', inplace=True)

Step 5: Dealing with empty spots in the data...

/tmp/ipython-input-3502313274.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary Range'].fillna('Not Disclosed', inplace=True)

In [12]:
# --- 6. Fix Corrupted Data Types ---
print("\nStep 6: Converting salary and date columns...")

# Create new columns for minimum and maximum salary
df['Min Salary (LPA)'] = None
df['Max Salary (LPA)'] = None

for index, row in df.iterrows():
    salary_str = str(row['Salary Range'])
    if 'LPA' in salary_str:
        # Split the string to get the numbers
        parts = salary_str.replace(' LPA', '').split('-')
        if len(parts) == 2:
            min_sal = float(parts[0])
            max_sal = float(parts[1])
            df.at[index, 'Min Salary (LPA)'] = min_sal
            df.at[index, 'Max Salary (LPA)'] = max_sal

# Convert 'Job Posting Date' to a proper date format.
# `errors='coerce'` will turn any invalid dates into "NaT" (Not a Time), which is good.
df['Job Posting Date'] = pd.to_datetime(df['Job Posting Date'], errors='coerce')

# Remove rows that had invalid dates
df.dropna(subset=['Job Posting Date'], inplace=True)

Step 6: Converting salary and date columns...

In [13]:
# --- 7. Outlier Check ---
print("\nStep 7: Checking for strange data points...")
# Remove rows where the max salary is unrealistically high
df = df[df['Max Salary (LPA)'] < 100]

Step 7: Checking for strange data points...

In [14]:
# --- 8. Final Integrity Check ---
print("\nStep 8: Final check of the clean data...")
print("\nFinal info about the DataFrame:")
df.info()
print("\nFinal first 5 rows:")
print(df.head())

Step 8: Final check of the clean data...

Final info about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 7375 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job Role          7375 non-null   object
 1   Company           7375 non-null   object
 2   Experience Level  7375 non-null   object
 3   Location          7375 non-null   object
 4   Skills            7375 non-null   object
 5   Job Type          7375 non-null   object
 6   Work Mode         7375 non-null   object
 7   Salary Range      7375 non-null   object
 8   Job Posting Date  7375 non-null   datetime64[ns]
 9   Min Salary (LPA)  7375 non-null   object
 10  Max Salary (LPA)  7375 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 691.4+ KB

Final first 5 rows:
                    Job Role                      Company Experience Level  \
0        Junior Data Analyst                 Day And Sons        Mid Level
2        Junior Data Analyst                   Thomas Inc       Internship
4        Senior Data Analyst  Gibson, Davidson And Turner       Internship
6  Data Analytics Specialist                Taylor-Wilson      Entry Level
8        Senior Data Analyst                   Larsen Llc      Entry Level

    Location                                             Skills    Job Type  \
0     Remote                         sql, powerbi, google cloud  Internship
2  Bangalore                  python, machine learning, powerbi   Full-Time
4  New Delhi  machine learning, python, tableau, google cola...  Internship
6  New Delhi               powerbi, powerbi, python, powerbi, r   Full-Time
8  Hyderabad  powerbi, google cloud, powerbi, excel, sql, ta...    Contract

  Work Mode Salary Range Job Posting Date Min Salary (LPA) Max Salary (LPA)
0    Hybrid    11-32 LPA       2025-06-26             11.0             32.0
2    Remote    11-25 LPA       2024-11-29             11.0             25.0
4   On-Site    12-31 LPA       2025-07-07             12.0             31.0
6    Hybrid    14-26 LPA       2024-11-13             14.0             26.0
8    Remote    12-20 LPA       2025-05-03             12.0             20.0

In [15]:
# --- Save to a new, clean CSV file ---
cleaned_file_path = "cleaned_data.csv"
df.to_csv(cleaned_file_path, index=False)
print(f"\n✅ Finished! Your clean data is saved in '{cleaned_file_path}'")

✅ Finished! Your clean data is saved in 'cleaned_data.csv'

NOW LET'S PERFORM EXPLORATORY DATA ANALYSIS

In [16]:
# --- 1. Load the Cleaned Data ---
print("Step 1: Loading the cleaned data...")
try:
    # Load the cleaned CSV file into a DataFrame
    df = pd.read_csv("cleaned_data.csv")
    print("Cleaned data loaded successfully.")
except FileNotFoundError:
    print("Error: 'cleaned_data.csv' not found. Please make sure the cleaning script has been run.")
    exit()

# Print some basic info to verify the data
print(f"\nTotal rows in the dataset: {len(df)}")
print(f"Total columns in the dataset: {len(df.columns)}")

Step 1: Loading the cleaned data...
Cleaned data loaded successfully.

Total rows in the dataset: 7375
Total columns in the dataset: 11

In [17]:
# --- 2. Analyze the Job Roles ---
print("\n--- Top 5 Most Common Job Roles ---")
# Count the number of times each job role appears
top_job_roles = df['Job Role'].value_counts()
print(top_job_roles.head(5))

--- Top 5 Most Common Job Roles ---
Job Role
Junior Data Analyst          1863
Data Analyst                 1841
Senior Data Analyst          1836
Data Analytics Specialist    1835
Name: count, dtype: int64

In [18]:
# --- 3. Analyze the Locations ---
print("\n--- Top 5 Job Locations ---")
# Count the number of jobs in each location
top_locations = df['Location'].value_counts()
print(top_locations.head(5))

--- Top 5 Job Locations ---
Location
New Delhi    957
Bangalore    946
Remote       942
Pune         926
Mumbai       923
Name: count, dtype: int64

In [19]:
# --- 4. Analyze Salary Data ---
print("\n--- Average Salary Range ---")
# Calculate the average of the Min and Max salary columns
# We use .mean() to find the average for each column
avg_min_salary = df['Min Salary (LPA)'].mean()
avg_max_salary = df['Max Salary (LPA)'].mean()

print(f"Average Minimum Salary: {avg_min_salary:.2f} LPA")
print(f"Average Maximum Salary: {avg_max_salary:.2f} LPA")

--- Average Salary Range ---
Average Minimum Salary: 9.01 LPA
Average Maximum Salary: 25.48 LPA

In [20]:
# --- 5. Analyze Skills (Optional) ---
# This part is a bit more complex, but here is a simple way to find top skills
print("\n--- Top 5 Most Common Skills ---")
# Combine all the skills into one long string, then split by comma
all_skills = ','.join(df['Skills'].dropna()).lower()
# Create a list of all skills
skill_list = [skill.strip() for skill in all_skills.split(',')]
# Count the occurrences of each skill
skills_series = pd.Series(skill_list)
top_skills = skills_series.value_counts()
print(top_skills.head(5))

--- Top 5 Most Common Skills ---
powerbi         9130
excel           3111
python          3066
google cloud    3018
r               2999
Name: count, dtype: int64